extends ../../layout/default
include ../../mixin/alert

block style
    link(rel="stylesheet" href="/css/flashcard/card.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css")
block main
    if(flashCard)
        .card-data(data=JSON.stringify(flashCard))
    .container
        .box
            button#clear.clear.btn.btn-custom
                i.fas.fa-trash.mr-2
                |  Xóa tất cả
            button#random.clear.btn.btn-custom
                i.fas.fa-random.mr-2
                |  Trộn thẻ
            button#reverse.clear.btn.btn-custom
                i.fas.fa-retweet.mr-2
                |  Đảo
            .image-mode-toggle(role="group" aria-label="Chế độ hiển thị ảnh")
                button.image-mode-btn(type="button" data-image-mode="front" title="Hiện ảnh ở mặt trước")
                    i.fas.fa-image
                    |  Trước
                button.image-mode-btn(type="button" data-image-mode="back" title="Hiện ảnh ở mặt sau")
                    i.fas.fa-reply
                    |  Sau
                button.image-mode-btn(type="button" data-image-mode="both" title="Hiện ảnh ở cả hai mặt")
                    i.fas.fa-images
                    |  Cả hai

        h1
            | Thẻ [#{flashCard.name}]
            button#show.btn.btn-custom
                i.fas.fa-plus.mr-2
                |  Thêm mới
        #cards-container.cards
        .navigation
            button#prev.nav-button
                i.fas.fa-arrow-left
            p#current
            button#next.nav-button
                i.fas.fa-arrow-right
        #add-container.add-container.card-animation
            h1
                | Thêm thẻ mới
                button#hide.btn.btn-small.btn-custom
                    i.fas.fa-times
            .form-group
                label(for='vocabylary') Câu hỏi
                textarea#question(placeholder='Nhập câu hỏi...')
            #alert
            .form-group
                label(for='meaning') Trả lời
                textarea#answer(placeholder='Nhập câu trả lời...')
            .form-group.image-form-group
                label(for='previewUrl') Hình ảnh
                input#previewUrl(type='url' placeholder='Dán URL ảnh hoặc chọn từ Serper...')
                .image-search-actions
                    button#search-card-image.btn.btn-margin.btn-custom(type='button')
                        i.fas.fa-magnifying-glass.mr-2
                        |  Tìm ảnh
                #image-search-panel.image-search-panel
            .button-group
                button#AI-gen.btn.btn-margin.btn-custom
                    i.fas.fa-robot.mr-2
                    |  AI Gennarate
                select#outputLang.language-select
                    option(value='en' data-flag='🇬🇧' data-img="https://tienichhay.net/uploads/flags/shiny/16x16/us.png") ENG
                    option(value='Vietnamese' data-flag='🇻🇳' data-img="https://tienichhay.net/uploads/flags/shiny/16x16/vn.png") VIE
                    option(value='Japanese(hiragana or katakana)' data-flag='🇯🇵' data-img="https://tienichhay.net/uploads/flags/shiny/16x16/jp.png") JA
                    option(value='Chinese' data-flag='🇨🇳' data-img="https://tienichhay.net/uploads/flags/shiny/16x16/cn.png") CN
                    option(value='Thai' data-flag='🇹🇭' data-img="https://tienichhay.net/uploads/flags/shiny/16x16/th.png") TH
                    option(value='Korean' data-flag='🇰🇷' data-img="https://tienichhay.net/uploads/flags/shiny/16x16/kr.png") KR
            button#add-card.btn.btn-margin.btn-custom
                i.fas.fa-plus.mr-2
                |  Th&ecirc;m th&#x1EBB;
        button#learn.btn.btn-custom
            i.fas.fa-graduation-cap.mr-2
            |  Bài tập - (AI Gennarate)
        .choise-container#choise-container
            a#AI-gen-exercise.btn.btn-custom(href='/review/' + flashCard._id)
                i.fas.fa-graduation-cap.mr-2
                |  Bài tập điền từ
            a#AI-gen-quiz.btn.btn-custom(href='/AI-gen-quiz/' + flashCard._id)
                i.fas.fa-graduation-cap.mr-2
                |  Bài tập trắc nghiệm
            button#closex.closex
                i.fas.fa-times


block script2
    script(src="/js/flashcard/index.js" type="module")
block script
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" type="module")
    script(src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" type="module")

